@charset "utf-8";
/*
 *@本css功能：财务流程审批页面css
 *@本css作者：孟令超
 *@编写时间：2016年11月14日
 *@修改人：孟令超
 *@修改时间：2016年11月14日
 *@修改原因：修改整体页面样式
 *@修改位置或名称：
 */
.border {
	height: 50px;
	line-height: 50px;
	position: relative
}

.border .titlename {
	float: left;
	width: 80px
}

.border input[type=text] {
	width: 320px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	padding: 0 10px
}

.table table .blue {
	color: #4391c4;
	text-decoration: underline;
	padding-left: 5px;
	padding-right: 5px
}

.table table .green {
	color: #298106;
	text-decoration: underline;
	padding-left: 5px;
	padding-right: 5px
}

.table table .gules {
	color: #d50606;
	text-decoration: underline;
	padding-left: 5px;
	padding-right: 5px
}

.checkicon {
	background: url(../../../images/pc/icon_2.jpg) no-repeat;
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 20px;
	position: absolute;
	left: 0;
	top: 20px
}

.truea .checkicon {
	background: url(../../../images/pc/icon_1.jpg) no-repeat
}

.checkbox {
	line-height: 50px;
	position: relative;
	float: left;
	padding-left: 25px;
	margin-left: 30px
}

.mwidth {
	margin-left: 50px
}

.content .title {
	line-height: 39px;
	border: solid 1px #dadada;
	background: #ededed;
	padding: 0 27px
}

.padding_0 {
	padding: 0
}

.padding_30 {
	padding: 10px 30px
}

.content .border {
	width: 50%;
	float: left
}

.border textarea {
	width: 390px;
	height: 60px;
	line-height: 30px;
	border-radius: 5px;
	padding: 0 10px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	resize: none;
	background-color: #fff;
	border: 2px inset;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto
}

.border .titlename {
	width: 130px
}

.tsbt {
	width: 120px;
	float: left;
	color: #cb0b0b;
	font-size: 14px;
	text-align: left;
	height: 30px;
	line-height: 30px
}

.tswz {
	float: left;
	line-height: 30px
}

.border-top {
	border-top: solid 1px #dadada
}

.border-1 {
	border: solid 1px #dadada;
	width: 70%;
	height: 140px;
	overflow: auto
}

.border-2 {
	border-bottom: solid 1px #dadada;
	width: 94%;
	padding: 0 20px
}

.xxnm {
	color: #b1b1b1;
	line-height: 35px;
	width: 80%
}

.border-2 div span {
	display: inline-block;
	width: 150px
}

.center td {
	text-align: center
}

.border-none {
	border: none
}

.content .width50 {
	width: 49%;
	float: left;
	padding: 0;
	text-align: center
}

.content .width51 {
	width: 49%;
	float: left;
	padding: 0;
	text-align: center;
	background: 0 0
}

.bga {
	width: 93%;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 3%
}

.add_detailed_btn {
	background: url(../../../images/pc/icon_4.png) no-repeat center center;
	width: 27px;
	height: 27px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: 0 auto;
	cursor: pointer
}

.upload_enclosure {
	background: #46c796;
	color: #fff;
	padding: 5px 20px;
	margin-left: 10px;
	border-radius: 5px;
	margin-right: 40px
}

.download_templates {
	color: #4391c4;
	text-decoration: underline
}

.red {
	color: #d80808
}

.tr_input {
	width: 91%;
	margin-left: 2%;
	border-radius: 5px;
	border: 1px solid #dadada;
	height: 30px;
	background: url(../../images/public/ico_down.jpg) no-repeat right center;
	background-position: 95% center;
	padding-left: 5%
}

.tq {
	width: 46%;
	margin-left: 2%;
	margin-right: 2%
}

.none_box {
	margin-top: 30px;
	height: 120px;
	display: none
}

.add_detailed_btn_box {
	width: 98.5%;
	margin-top: 10px
}

.width80 {
	width: 80%
}
