.site_channel_top{
	width: 100%;
	height: 580px;
	position: relative;
}
/*nav*/
.site_channel_top .site_head{
	position: absolute;
    z-index: 1000;
	top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    min-width: 1000px;
}
.site_channel_top .site_head .head_inner{
	position: relative;
	width: 1200px;
	height: 73px;
	margin: 0 auto;
    z-index: 99;
}
/*logo开始*/
.site_channel_top .site_head .head_inner .logo{
	width: 223px;
	height: 36px;
	margin-top: 14px;
}
.site_channel_top .site_head .head_inner .logo>a{
	display: block;
	width: 223px;
	height: 26px;
	margin-top: 15px;
	background: url(../img/yk-logo-0823_ffe8ad4.png) no-repeat ;
}
/*.site_channel_top .site_head .head_inner .logo>a>span{
	display: inline-block;
	width: 80px;
	height: 40px;
	float: right;
	background: url(../img/logo_solgan_white.svg) no-repeat;
}*/
/*logo结束*/
/*搜索框*/
.site_channel_top .site_head .head_inner .mod_search{
	position: absolute;
    left: 50%;
    top: 12px;
    height: 40px;
    width: 400px;
    margin-left: -180px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(90,90,90,.08);
}
.site_channel_top .site_head .head_inner .mod_search .searchForm{
	position: relative;
    width: 100%;
    height: 100%;
}
.site_channel_top .site_head .head_inner .mod_search .searchForm .search_inner{
	position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff,endColorstr=#4cffffff);
}
.search_keywords{
	position: relative;
    height: 40px;
    margin: 0 185px 0 20px;
}
.search_keywords>input{
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 40px;
    border: 0 none;
    outline: 0;
    font-size: 16px;
    background: 0 0;
    color: #eee;
}
.search_btn{
	position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 106px;
    height: 40px;
    background: #ff6428;
    background: linear-gradient(to right,#ff850b 0,#ff5945 100%);
    background: -webkit-linear-gradient(left,#ff850b 0,#ff5945 100%);
    border: none;
    outline: 0;
    font-size: 16px;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.search_btn:hover{background: #ff5945;}
.search_btn:hover>.sou{background: url(../img/sou2_03.png) no-repeat;}
.search_btn>span{
	
	font-size: 16px;
    color: #fff;
}
.search_btn .sou{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: -3px;
    vertical-align: -5px;
    background: url(../img/sou_03.png) no-repeat;
}
.btn_search_hot{
	position: absolute;
    top: 9px;
    right: 118px;
    color: #ff6428;
    font-size: 15px;
    width: 69px;
    height: 22px;
}
.btn_search_hot>span{
	display: inline-block;
	width: 17px;
	height: 28px;
	vertical-align: middle;
	background: url(../img/ico_6b3106e.png) no-repeat -240px 0;
}
/*搜索框结束*/
/*快捷登录*/
.mod_quick{
	width: 228px;
	height: 43px;
	margin-top: 15px;
}
.mod_quick .quick_vip{
   position: relative;
}
.mod_quick .quick_vip>a{
	width: 39px;
	position: relative;
    z-index: 11;
    display: block;
    height: 43px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.mod_quick .quick_vip>a>.icon_vip_golden{
	display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto 2px;
}
.mod_quick .quick_vip>a>.icon_vip_golden>img{
	display: block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.mod_quick .quick_vip>a>.text{
    color: rgb(152, 154, 155);
    opacity: 1;
    display: inline-block;
    width: 42px;
}
.quick_user{
	margin: -4px 0 0 10px;
}
.quick_user>a{
	    position: relative;
    width: 40px;
    height: 40px;
    z-index: 11;
    display: block;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.quick_user>a>img{
	position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.38);
}
.erkan{
	position: absolute;
	width: 350px;
	height: 184px;
    top: 39px;
    right: -152px;
    display: none;
}
.mod_quick .quick_vip:hover>.erkan{display: block;}
.erkehu{
	position: absolute;
	width: 190px;
	height: 216px;
	top: 44px;
    right: -63px;
    display: none;
}
.mod_quick .quick_vip:hover>.erkehu{display: block;}
/*快捷登录结束*/
/*nav结束*/
/*轮播*/
.site_slider{
	position: relative;
    height: 580px;
        margin-bottom: -70px;
    overflow: hidden;
    z-index: 1;
}
.site_slider .slider_inner{
	    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.8s ease;
}
.site_slider .slider_inner>a{
	    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    transition: opacity .3s ease;
}
.slider_nav{
	margin-right: -600px;
	background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 17%,rgba(255,255,255,.9) 50%,rgba(255,255,255,.8) 88%,rgba(255,255,255,0) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
	position: absolute;
    z-index: 1;
    top: 63px;
    right: 50%;
    width: 240px;
    height: 403px;
    padding-top: 70px;
}
.slider_nav>ul>li{
    height: 54px;
    padding: 0 15px;
    margin: -24px 0;
    cursor: pointer;
    color: #202020;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.slider_nav>ul>li>.tit{
	
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.slider_nav>ul>li>.tit>.txt{
	    display: inline;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*.slider_nav>ul>li:hover>.tit{
	    display: block;
    font-size: 24px;
    line-height: 34px;
    color: #ff6428;
       
}*/
.tip{
    font-size: 24px;
    line-height: 34px;
    color: #ff6428;
    padding-top: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
}
.tip>.txt{
	    display: block;
    font-size: 14px;
    line-height: 20px;

    white-space: nowrap;
        color: #666;
    text-overflow: ellipsis;
}
/*轮播结束*/
/*二级导航*/
.slider_mask{
	width:100%;
	height: 90px;
	margin-top: 20px;
}
.slider_mask .mod_main_nav{
	position: relative;
	height: 60px;
    margin: 0 auto 25px;
    width: 1200px;
    z-index: 3;
}
.slider_mask .mod_main_nav>ul{
        float: left;
        width: 202px;
        height: 60px;
        border-right: 1px solid #e3e3e3;
}
.slider_mask .mod_main_nav>ul>li{
	 margin: 0 6px;
	position: relative;
    display: inline-block;
    padding: 0 6px;
    line-height: 30px;
    font-size: 14px;
}
.erdians{
	position: absolute;
	width: 406px;
	height: 198px;
	    top: -195px;
    left: -5px;
    z-index: 99994;
    display: none;
}
.slider_mask .mod_main_nav>ul>li:hover>.erdians{display: block;}
.slider_mask .mod_main_nav>ul>li>a{
	color: #202020;
}
.erdiansi{
	position: absolute;
	width: 406px;
	height: 198px;
	    top: 26px;
    left: -9px;
    z-index: 99994;
    display: none;
}
.slider_mask .mod_main_nav>ul>li:hover>.erdiansi{display: block;}
.slider_mask .mod_main_nav>ul>li>a:hover{color: #ff920b;}
.cu{
	font-weight: 700;
}
.pad{
	padding-left: 11px;
}
.resou{
	float: right;
	width: 140px;
	height: 46px;
    text-align: right;
    vertical-align: top;
    margin-top: 10px;
    white-space: nowrap;
}
.resou>a{
	display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 12px;
    color: black;
}
.resou>a:hover{color: #ff920b;}
.resou>a>.re{
	display: block;
    margin: 0 auto 5px;
    width: 20px;
    height: 20px;
    background: url(../img/ico_6b3106e.png) no-repeat -240px 0;
}
.resou>a>.xia{
	display: block;
    margin: 0 auto 5px;
    width: 20px;
    height: 20px;
    background: url(../img/header_3091d80.png) no-repeat -38px 5px;
}
/*今日热门*/
.mod_row_box{
	position: relative;
    width: 100%;
    height: 254px;
    margin-bottom: 33px;
}
.mod_row_box .mod_hd{
	width: 1200px;
	margin: 0 auto;
	height: 40px;
	margin-bottom: 14px;
	position: relative;
/*	z-index: 100;*/
}    
.title{
	display: inline-block;
    margin-right: 10px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: #202020;
}
.title .title_pic_link{
	position: relative;
    display: inline-block;
    padding-left: 46px;
    vertical-align: top;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: #202020;
}
.title .title_pic_link .title_pic{
	    position: absolute;
    left: 0;
    top: 2px;
    width: 36px;
    height: 36px;
    overflow: hidden;
}
.title .title_pic_link:hover{color: #ff920b;}
.title .title_pic_link .title_pic>img{
	width: 100%;
}
.subtitle{
	    margin-left: 5px;
    font-size: 14px;
    color: #999;
}
.subtitle:hover{color: black;}
.mod_bd{
	width: 1218px;
	height: 200px;
	margin: 0 auto;
	position: relative;
} 
.mod_bd>ul{
	float: left;
}
/*.mod_bd:hover>.btn_prev{display: block; left: -50px;}
.mod_bd:hover>.btn_next{display: block; }*/
.mod_bd>ul>li{
	width: 194px;
	margin: 5px 5px 0 0;
	position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    letter-spacing: normal;
    color: #999;
}
.mod_bd>ul>li>a{
	display: block;
	width: 196px;
	height: 137px;
	position: relative;
}
.mod_bd>ul>li>a>img{
	width: 196px;
	height: 137px;
}
.mod_bd>ul>li>a>.figure_count{
	position: absolute;
    left: 4px;
    bottom: 4px;
    padding: 0 4px;
    background-color: rgba(17,17,17,.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000,endColorstr=#c8000000);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.mod_bd>ul>li:hover>.figure_detail{background: #fff;}
.mod_bd>ul>li:hover>.figure_detail>a{color: #ff6428; background: #fff;}
.mod_bd>ul>li>a>.mark_quickplay{
	    position: absolute;
    left: 6px;
    top: 6px;
    width: 14px;
    height: 18px;
    background: url(../img/mark_quickplay.svg) no-repeat ;
}
.mod_bd>ul>li>.figure_detail{
	    margin-bottom: 7px;
    padding: 6px 4px 4px 4px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    height: 44px;
    line-height: 22px;
}
.mod_bd>ul>li>.figure_detail>a{
	font-size: 14px;
	
}
.btn_prev{
	position: absolute;
    z-index: 10;
    top: 5px;
    width: 36px;
    cursor: pointer;
    color: rgba(140,140,140,.8);
    border-radius: 2px;
    left: -50px;
    height: 137px;
    line-height: 137px;
    font-size: 20px;
    background: #fff;
    transition: all .3s;

}
.btn_prev:hover{background: #f4f4f4;}
.btn_prev>img{
	display: block;
    margin-top: 51px;
    width: 38px;
	height: 36px;
}
.btn_next{
	display: block;
	position: absolute;
    z-index: 10;
    top: 5px;
    right: -56px;
    width: 36px;
    cursor: pointer;
    color: rgba(140,140,140,.8);
    border-radius: 2px;
    height: 137px;
    line-height: 137px;
    background: #fff;
   /* display: none;*/
/*    transition: transform .1s ease;*/
}
.btn_next:hover{background: #f4f4f4;}
.btn_next>img{
	display: block;
    margin-top: 51px;
	width: 39px;
	height: 36px;
}
.avatar_pic{
	position: absolute !important;
    left: 10px;
    bottom: 65px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    vertical-align: top;
    background-color: #eee;
}
.avatar_pic>img{
	position: relative;
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
}
.avatar_pic>span{
	display: inline-block;
	position: absolute;
	 left: 49px;
    width: 100px;
    bottom: 6px;
    color: #fff;
}
/*今日热门结束*/
/*你的专属频道*/
.mod_figure{
	width: 1200px;
	height: 289px;
	margin: 0 auto;
}
.mod_figure>ul>.list_item{
	width: 167px;
	height: 240px;
	display: inline-block;
	margin: 5px 0 0 0;
	    vertical-align: top;
    font-size: 12px;
        color: #999;
}
.mod_figure>ul>.list_item>.figure_login{
	width: 167px;
    height: 234px;
        margin-bottom: 6px;
    position: relative;
    font-weight: 500;
}
.mod_figure>ul>.list_item>.figure_login>img{
	display: block;
    width: 100%;
    height: 100%;
    background: #ececec;
    background-color: rgba(236,236,236,.1);
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_mask{
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17,17,17,.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000,endColorstr=#c8000000);
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd{
	position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    margin-top: -50px;
    width: 100%;
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd>.figure_login_pic{
	width: 36px;
    height: 36px;
    margin: 0 auto 4px;
    color: #fff;
    opacity: .7;
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd>.figure_login_pic>img{
	width: 36px;
	height: 36px;
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd>.figure_login_txt{
	    display: block;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd>.figure_login_btn{
	display: block;
    text-align: center;
}
.mod_figure>ul>.list_item>.figure_login>.figure_login_bd>.figure_login_btn>a{
	background: #ff6428;
    background: -webkit-linear-gradient(left,#ff850b 0,#ff5945 100%);
    background: linear-gradient(to right,#ff850b 0,#ff5945 100%);
    color: #fff;
    display: inline-block;
    min-width: 48px;
    padding: 0 10px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border-radius: 26px;
}
/*第二种*/
.mod_figure>ul>.list_item2{
	width: 167px;
	height: 284px;
	display: inline-block;
	margin: 5px 0 0 0;
	    vertical-align: top;
    font-size: 12px;
        color: #999;
    position: relative;
}
.mod_figure>ul>.list_item2>.figure{
	width: 167px;
    height: 234px;
    margin-bottom: 6px;
    position: relative;
    display: block;
    font-weight: 500;
}
.mod_figure>ul>.list_item2>.figure>img{
	display: block;
    width: 100%;
    height: 100%;
    background: #ececec;
    background-color: rgba(236,236,236,.1);
}
.mod_figure>ul>.list_item2>.figure>span{
	position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    width: 28px;
    height: 18px;
    background: url(../img/mark_5.png) no-repeat;
}
.mod_figure>ul>.list_item2>.figure>.figure_count{
	position: absolute;
    left: 4px;
    bottom: 4px;
    padding: 0 4px;
    background-color: rgba(17,17,17,.8);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.mod_figure>ul>.list_item2>.figure>.figure_score{
	position: absolute;
    right: 4px;
    bottom: 4px;
    width: 35px;
    height: 28px;
    text-align: center;
    background-color: rgba(17,17,17,.8);
    font-size: 0;
    color: #fff;
}
.mod_figure>ul>.list_item2>.figure>.figure_score>.score_l{
	display: inline-block;
	font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #ff5f33;
}
.mod_figure>ul>.list_item2>.figure>.figure_score>.score_s{
	display: inline-block;
	font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #ff4f4a;
}
.mod_figure>ul>.list_item2>.figure_detail{
	width: 167px;
	height: 44px;
}
.mod_figure>ul>.list_item2>.figure_detail>.figure_title_tw{
	padding: 0 3px 0 5px;
	    line-height: 22px;
	    height: 22px;
}
.mod_figure>ul>.list_item2>.figure_detail>.figure_title_tw>a{
	font-size: 14px;
}
.mod_figure>ul>.list_item2:hover>.figure_detail>.figure_title_tw>a{color: #ff5f33;}
.figure_desc{
	width: 100%;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
        padding: 0 3px 0 5px;
}
.videus{
	position: absolute;
	top: -37px;
	left: -18px;
	width: 207px;
	height: 332px;
	background: #fff;
	z-index: 10;
	display: none;
}
.videus>.figure_video_outlink{
	width: 207px;
    height: 176.25px;
    position: relative;
    display: block;
   /* background: url(../img/untitled.png) no-repeat;*/
    overflow: hidden;
}
.video_content{
	position: relative;
    padding: 15px 20px 40px;
    border-top: 0;
    width: 167px;
    height: 122px;
}
.video_content .video_title{
	    color: #aaa;
    margin-right: -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.video_content .video_title>a{
	    margin-right: 15px;
    color: #202020;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.video_content .video_tags{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 24px;
    color: #7a7a7a;
}
.tag_tit{
	color: #202020;
    margin-right: 3px;
}
.tag_txt{
	font-size: 12px;
    line-height: 24px;
    color: #7a7a7a;
}
.video_review{
	overflow: hidden;
	font-size: 12px;
    line-height: 18px;
    color: #7a7a7a;
    width: 167px;
    height: 34px;
}
.review_txt{
	font-size: 12px;
    line-height: 18px;
    color: #7a7a7a;
}
.video_btn{
	position: absolute;
    left: 0;
    bottom: 10px;
    padding: 0 20px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.shengyin{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: url(../img/jingyin.png) no-repeat;
}

/*你的专属频道结束*/
/*底部*/
.site_footer{
	background-color: #fff;
    clear: both;
    overflow: hidden;
    margin-top: 140px;
    border-top: 1px solid #ddd;
    width:100%;
    height: 305px;
}
.site_footer .footer_inner{
	margin: 40px auto 10px;
	    width: 1240px;
	    height: 254px;
}
.site_footer .footer_inner .mod_footer_contentinfo{
	padding: 20px 20px 20px 70px;
	width: 1150px;
	height: 74px;
}
.site_footer .footer_inner .mod_footer_contentinfo .contentinfo_column{
	position: relative;
    float: left;
    width: 320px;
    min-height: 74px;
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid #ddd;
}
.site_footer .footer_inner .mod_footer_contentinfo .contentinfo_column .contentinfo_title{
	    padding-bottom: 5px;
    color: #979797;
    font-size: 14px;
}
.site_footer .footer_inner .mod_footer_contentinfo .contentinfo_column>ul>li{
	display: inline-block;
    margin-right: 20px;
    padding-top: 6px;
    letter-spacing: normal;
    vertical-align: top;
    font-size: 12px;
}
.site_footer .footer_inner .mod_footer_contentinfo .contentinfo_column>ul>li>a{
	color: #595959;
	 font-size: 12px;
}
.site_footer .footer_inner .mod_footer_contentinfo .contentinfo_column>ul>li>a:hover{
	color: #ff7800;
}
.mod_footer{
	line-height: 30px;
    padding: 25px 0;
    text-align: center;
    color: #838383;
    height: 90px;
}
.footermenu{
	line-height: 30px;
    text-align: center;
    color: #838383;
}
.footermenu>a{
	color: #838383;
	 font-size: 12px;
}
.footermenu>a:hover{color: #ff7800;}
.footermenu>span{
	font-size: 12px;
	color: #838383;
}
/*右侧*/
.mod_fiexdtool{
	position: fixed;
    right: 16px;
    bottom: 16px;
    width: 30px;
    z-index: 20;
    text-align: center;
}
.ft_cell{
	    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin-top: 10px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    transform: translateZ(0);
}
.icon_lg{
	display: block;
    width: 20px;
    height: 20px;
    margin: 4px auto 0;
    overflow: hidden;
    color: #999;
    cursor: pointer;
    position: relative;
}
.icon_text{
	position: absolute;
	display: block;
    top: -1px;
    right: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff6428;
    color: #fff;
   width: 66px;
    border-radius: 2px 0 0 2px;
    display: none;
}
.ft_cell:hover>.icon_text{display: block;}
/*挂件*/
.fixed_box{
	position: fixed;
    top: 55%;
    right: 0;
    width: 60px;
    height: 218px;
    margin-top: -159px;
    z-index: 100;
}
.fixed_box>a>img{
	width:60px;
	height: 163px;
}
