/*底部*/
footer{
	display: -webkit-box;
    background: #2F2F2F;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0
}
footer a{
	display: block;
    font-size: 12px;
    width: 25%;
    height: 55px;
    padding-top: 33px;
    text-align: center;
    background: no-repeat center 12px;
    background-size: 21px;
    color: #C4C4C4;
}
footer a.active {
    background-color: #ED3037;
    color: #FCFAFA;
}
footer a:nth-child(1){
	background-image:url("../img/i-home.png");
}
footer a:nth-child(2){
	background-image:url("../img/i-category.png");
}
footer a:nth-child(3){
	background-image:url("../img/i-cart.png");
}
footer a:nth-child(4){
	background-image:url("../img/i-wo.png");
}
footer a.active:nth-child(1){
	background-image:url("../img/i-home-active.png");
}
footer a.active:nth-child(2){
	background-image:url("../img/i-category-active.png");
}
footer a.active:nth-child(3){
	background-image:url("../img/i-cart-active.png");
}
footer a.active:nth-child(4){
	background-image:url("../img/i-wo-active.png");
}

/*搜索框部分*/
.header{
	width: 100%;
	height: 50px;
	padding: 10px;
	
}
.logo{
	width:12%;
	margin-top: 3px;
}
.logo>img{
	width: 100%;
}
.header_search{
	width: 82%;
	height: 30px;
	display: inline-block;
	background: #ebebeb;
	border-radius: 15px;
	line-height: 30px;
	padding-left: 13px;
	color: #b2b4b6;
	font-size: 14px;
}
.sou{
	float: right;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #b2b4b6;
}
.shopping_one{
	width: 6%;
	height: 30px;
	display: block;
	float: left;
	margin-left: 25px;
}
.shopping_one>span{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 21px;
	color: #b2b4b6;
}
/*搜索框结束*/