.dl-Signin {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
.dl-Signin img:nth-child(1) {
  width: 100%;
}
.dl-Signin img:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
}
.dl-Signin img:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
}
.dl-Signin div:nth-child(4) {
  position: absolute;
  top: 80%;
  left: 35%;
  width: 30%;
}
.dl-Signin div:nth-child(4) img {
  width: 100%;
}
